<!DOCTYPE html>
<html>

   <head>
      <title>URL Shortener Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>URL Shortener Microservice</h1>
         <h3>User stories:</h3>
        <ol>
          <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
          <li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
          <li>When I visit that shortened URL, it will redirect me to my original link.</li>
        </ol>
        <h3>Example usage:</h3>
        <p>
          https://best-donkey.glitch.me/new/https://www.google.com
        </p>
        <p>
          https://best-donkey.glitch.me/1 <b>will redirect to</b> https://www.google.com
        </p>
      </div>
   </body>

</html>
